
@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  margin: 16px;
  text-align: center;
}
#root .g-flex {
  display: flex;
}
#root .g-flex-wap {
  flex-wrap: wrap;
}
#root .g-flex-v {
  flex-direction: column;
}
#root .g-flex-center {
  justify-content: center;
}
#root .g-flex-v-center {
  align-items: center;
}
#root .g-flex-v-top {
  align-items: flex-start;
}
#root .g-flex-v-bottom {
  align-items: flex-end;
}
#root .g-flex-between {
  justify-content: space-between;
}
#root .g-flex-around {
  justify-content: space-around;
}
#root .g-flex-end {
  justify-content: flex-end;
}
#root .g-flex-v-between {
  align-content: space-between;
}
#root .g-flex-c1 {
  flex: 1;
}
#root .g-flex-none {
  flex: none;
}
.saas-app-con {
  overflow: auto;
}
* {
  box-sizing: border-box;
  flex: none;
}
.s-pic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* ------间距start------*/
.g-ml-5 {
  margin-left: 5px;
}
.g-mt-5 {
  margin-top: 5px;
}
.g-ml-8 {
  margin-left: 8px;
}
.g-mr-8 {
  margin-right: 8px;
}
.g-mt-8 {
  margin-top: 8px;
}
.g-mb-8 {
  margin-bottom: 8px;
}
.g-ml-10 {
  margin-left: 10px;
}
.g-mr-10 {
  margin-right: 10px;
}
.g-mt-10 {
  margin-top: 10px;
}
.g-mb-10 {
  margin-bottom: 10px;
}
.g-mt-12 {
  margin-top: 12px;
}
.g-mb-12 {
  margin-bottom: 12px;
}
.g-ml-14 {
  margin-left: 14px;
}
.g-mr-14 {
  margin-right: 14px;
}
.g-mt-14 {
  margin-top: 14px;
}
.g-mb-14 {
  margin-bottom: 14px;
}
.g-mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.g-mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.g-ml-15 {
  margin-left: 15px;
}
.g-mr-15 {
  margin-right: 15px;
}
.g-mt-15 {
  margin-top: 15px;
}
.g-mb-15 {
  margin-bottom: 15px;
}
.g-ml-16 {
  margin-left: 16px;
}
.g-mr-16 {
  margin-right: 16px;
}
.g-mt-16 {
  margin-top: 16px;
}
.g-mb-16 {
  margin-bottom: 16px;
}
.g-ml-16 {
  margin-left: 16px;
}
.g-ml-16 {
  margin-left: 16px;
}
.g-mr-16 {
  margin-right: 16px;
}
.g-mt-18 {
  margin-top: 18px;
}
.g-mb-18 {
  margin-bottom: 18px;
}
.g-ml-18 {
  margin-left: 18px;
}
.g-ml-20 {
  margin-left: 20px;
}
.g-mr-20 {
  margin-right: 20px;
}
.g-mt-20 {
  margin-top: 20px;
}
.g-mb-20 {
  margin-bottom: 20px;
}
.g-ml-24 {
  margin-left: 24px;
}
.g-mr-24 {
  margin-right: 24px;
}
.g-mt-21 {
  margin-top: 21px;
}
.g-mt-24 {
  margin-top: 24px;
}
.g-mt-25 {
  margin-top: 25px;
}
.g-mr-25 {
  margin-right: 25px;
}
.g-mb-25 {
  margin-bottom: 25px;
}
.g-ml-25 {
  margin-left: 25px;
}
.g-mt-28 {
  margin-top: 28px;
}
.g-mr-28 {
  margin-right: 28px;
}
.g-mb-24 {
  margin-bottom: 24px;
}
.g-ml-30 {
  margin-left: 30px;
}
.g-mr-30 {
  margin-right: 30px;
}
.g-mt-30 {
  margin-top: 30px;
}
.g-mb-30 {
  margin-bottom: 30px;
}
.g-ml-32 {
  margin-left: 32px;
}
.g-mr-32 {
  margin-right: 32px;
}
.g-mt-32 {
  margin-top: 32px;
}
.g-ml-35 {
  margin-left: 35px;
}
.g-mt-34 {
  margin-top: 34px;
}
.g-mb-32 {
  margin-bottom: 32px;
}
.g-ml-40 {
  margin-left: 40px;
}
.g-mr-40 {
  margin-right: 40px;
}
.g-mt-40 {
  margin-top: 40px;
}
.g-mb-40 {
  margin-bottom: 40px;
}
.g-mt-44 {
  margin-top: 44px;
}
.g-ml-48 {
  margin-left: 48px;
}
.g-mr-48 {
  margin-right: 48px;
}
.g-mt-48 {
  margin-top: 48px;
}
.g-mb-48 {
  margin-bottom: 48px;
}
.g-mt-44 {
  margin-top: 44px;
}
.g-ml-50 {
  margin-left: 50px;
}
.g-mr-50 {
  margin-right: 50px;
}
.g-mt-50 {
  margin-top: 50px;
}
.g-mt-51 {
  margin-top: 51px;
}
.g-mb-50 {
  margin-bottom: 50px;
}
.g-ml-60 {
  margin-left: 60px;
}
.g-mr-60 {
  margin-right: 60px;
}
.g-mt-60 {
  margin-top: 60px;
}
.g-mb-60 {
  margin-bottom: 60px;
}
.g-ml-64 {
  margin-left: 64px;
}
.g-mr-64 {
  margin-right: 64px;
}
.g-mt-64 {
  margin-top: 64px;
}
.g-mb-64 {
  margin-bottom: 64px;
}
.g-ml-70 {
  margin-left: 70px;
}
.g-mr-70 {
  margin-right: 70px;
}
.g-mt-70 {
  margin-top: 70px;
}
.g-mb-70 {
  margin-bottom: 70px;
}
.g-ml-72 {
  margin-left: 72px;
}
.g-mr-72 {
  margin-right: 72px;
}
.g-mt-72 {
  margin-top: 72px;
}
.g-mt-76 {
  margin-top: 76px;
}
.g-mb-72 {
  margin-bottom: 72px;
}
.g-ml-80 {
  margin-left: 80px;
}
.g-mr-80 {
  margin-right: 80px;
}
.g-mt-80 {
  margin-top: 80px;
}
.g-mt-96 {
  margin-top: 96px;
}
.g-mb-80 {
  margin-bottom: 80px;
}
.g-ml-90 {
  margin-left: 90px;
}
.g-ml-100 {
  margin-left: 100px;
}
.g-ml-130 {
  margin-left: 130px;
}
.g-mr-100 {
  margin-right: 100px;
}
.g-mt-100 {
  margin-top: 100px;
}
.g-mb-100 {
  margin-bottom: 100px;
}
.g-mt-200 {
  margin-top: 200px;
}
.g-pa-5 {
  padding: 5px;
}
.g-pt-5 {
  padding-top: 5px;
}
.g-pb-5 {
  padding-bottom: 5px;
}
.g-pl-5 {
  padding-left: 5px;
}
.g-pr-5 {
  padding-right: 5px;
}
.g-plr-5 {
  padding-right: 5px;
  padding-left: 5px;
}
.g-ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.g-ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.g-ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.g-pa-8 {
  padding: 8px;
}
.g-ptb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.g-pl-8 {
  padding-left: 8px;
}
.g-pr-8 {
  padding-right: 8px;
}
.g-pt-8 {
  padding-top: 8px;
}
.g-pb-8 {
  padding-bottom: 8px;
}
.g-pa-10 {
  padding: 10px;
}
.g-pt-10 {
  padding-top: 10px;
}
.g-pb-10 {
  padding-bottom: 10px;
}
.g-pl-10 {
  padding-left: 10px;
}
.g-pr-10 {
  padding-right: 10px;
}
.g-plr-10 {
  padding-right: 10px;
  padding-left: 10px;
}
.g-ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.g-pa-16 {
  padding: 16px;
}
.g-pt-16 {
  padding-top: 16px;
}
.g-pb-16 {
  padding-bottom: 16px;
}
.g-pl-16 {
  padding-left: 16px;
}
.g-pr-16 {
  padding-right: 16px;
}
.g-plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}
.g-plr-8 {
  padding-right: 8px;
  padding-left: 8px;
}
.g-ptb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.g-pa-20 {
  padding: 20px;
}
.g-pt-20 {
  padding-top: 20px;
}
.g-pb-20 {
  padding-bottom: 20px;
}
.g-pl-20 {
  padding-left: 20px;
}
.g-pr-20 {
  padding-right: 20px;
}
.g-plr-20 {
  padding-right: 20px;
  padding-left: 20px;
}
.g-ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.g-ptb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.g-ptb-26 {
  padding-top: 26px;
  padding-bottom: 26px;
}
.g-pa-24 {
  padding: 24px;
}
.g-pt-24 {
  padding-top: 24px;
}
.g-pt-26 {
  padding-top: 26px;
}
.g-pb-24 {
  padding-bottom: 24px;
}
.g-pl-24 {
  padding-left: 24px;
}
.g-pr-24 {
  padding-right: 24px;
}
.g-plr-24 {
  padding-right: 24px;
  padding-left: 24px;
}
.g-ptb-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.g-pa-30 {
  padding: 30px;
}
.g-pt-30 {
  padding-top: 30px;
}
.g-pb-30 {
  padding-bottom: 30px;
}
.g-pl-30 {
  padding-left: 30px;
}
.g-pr-30 {
  padding-right: 30px;
}
.g-plr-30 {
  padding-right: 30px;
  padding-left: 30px;
}
.g-ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.g-pa-32 {
  padding: 32px;
}
.g-pt-32 {
  padding-top: 32px;
}
.g-pb-32 {
  padding-bottom: 32px;
}
.g-pl-32 {
  padding-left: 32px;
}
.g-pr-32 {
  padding-right: 32px;
}
.g-plr-32 {
  padding-right: 32px;
  padding-left: 32px;
}
.g-ptb-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.g-pt-36 {
  padding-top: 36px;
}
.g-pb-36 {
  padding-bottom: 36px;
}
.g-pl-36 {
  padding-left: 36px;
}
.g-pr-36 {
  padding-right: 36px;
}
.g-plr-36 {
  padding-right: 36px;
  padding-left: 36px;
}
.g-ptb-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}
.g-pa-40 {
  padding: 40px;
}
.g-pt-40 {
  padding-top: 40px;
}
.g-pb-40 {
  padding-bottom: 40px;
}
.g-pl-40 {
  padding-left: 40px;
}
.g-pr-40 {
  padding-right: 40px;
}
.g-plr-40 {
  padding-right: 40px;
  padding-left: 40px;
}
.g-ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.g-pa-48 {
  padding: 48px;
}
.g-pt-48 {
  padding-top: 48px;
}
.g-pb-48 {
  padding-bottom: 48px;
}
.g-pl-48 {
  padding-left: 48px;
}
.g-pr-48 {
  padding-right: 48px;
}
.g-plr-48 {
  padding-right: 48px;
  padding-left: 48px;
}
.g-ptb-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.g-pa-50 {
  padding: 50px;
}
.g-pt-50 {
  padding-top: 50px;
}
.g-pb-50 {
  padding-bottom: 50px;
}
.g-pl-50 {
  padding-left: 50px;
}
.g-pr-50 {
  padding-right: 50px;
}
.g-plr-50 {
  padding-right: 50px;
  padding-left: 50px;
}
.g-ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.g-pa-64 {
  padding: 64px;
}
.g-pt-64 {
  padding-top: 64px;
}
.g-pb-64 {
  padding-bottom: 64px;
}
.g-pl-64 {
  padding-left: 64px;
}
.g-pr-64 {
  padding-right: 64px;
}
.g-plr-64 {
  padding-right: 64px;
  padding-left: 64px;
}
.g-ptb-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.g-pa-68 {
  padding: 68px;
}
.g-pt-68 {
  padding-top: 68px;
}
.g-pb-68 {
  padding-bottom: 68px;
}
.g-pl-68 {
  padding-left: 68px;
}
.g-pr-68 {
  padding-right: 68px;
}
.g-plr-68 {
  padding-right: 68px;
  padding-left: 68px;
}
.g-ptb-68 {
  padding-top: 68px;
  padding-bottom: 68px;
}
.g-pa-72 {
  padding: 72px;
}
.g-pt-72 {
  padding-top: 72px;
}
.g-pb-72 {
  padding-bottom: 72px;
}
.g-pl-72 {
  padding-left: 72px;
}
.g-pr-72 {
  padding-right: 72px;
}
.g-plr-72 {
  padding-right: 72px;
  padding-left: 72px;
}
.g-ptb-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}
.g-pa-96 {
  padding: 96px;
}
.g-pt-96 {
  padding-top: 96px;
}
.g-pb-82 {
  padding-bottom: 82px;
}
.g-pb-96 {
  padding-bottom: 96px;
}
.g-pl-96 {
  padding-left: 96px;
}
.g-pr-96 {
  padding-right: 96px;
}
.g-plr-96 {
  padding-right: 96px;
  padding-left: 96px;
}
.g-ptb-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}
.g-pa-100 {
  padding: 100px;
}
.g-pt-100 {
  padding-top: 100px;
}
.g-pb-100 {
  padding-bottom: 100px;
}
.g-pb-120 {
  padding-bottom: 120px;
}
.g-pl-100 {
  padding-left: 100px;
}
.g-pr-100 {
  padding-right: 100px;
}
.g-plr-100 {
  padding-right: 100px;
  padding-left: 100px;
}
.g-ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.g-ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.g-pb-128 {
  padding-bottom: 128px;
}
.g-pt-228 {
  padding-top: 228px;
}
/* ------间距end------*/
/* ------居左/中/右 start------*/
.g-tal {
  text-align: left;
}
.g-tac {
  text-align: center;
}
.g-tar {
  text-align: right;
}
/* ------居左/中/右 end------*/
.bold {
  font-weight: bold;
}
.s-fs-10 {
  font-size: 10px;
}
.s-fs-12 {
  font-size: 12px;
}
.s-fs-14 {
  font-size: 14px;
}
.s-fs-16 {
  font-size: 16px;
}
.s-fs-18 {
  font-size: 18px;
}
.s-fs-20 {
  font-size: 20px;
}
.s-fs-22 {
  font-size: 22px;
}
.s-fs-24 {
  font-size: 24px;
}
.s-fs-26 {
  font-size: 26px;
}
.s-fs-28 {
  font-size: 28px;
}
.s-fs-30 {
  font-size: 30px;
}
.s-fs-32 {
  font-size: 32px;
}
.s-fs-34 {
  font-size: 34px;
}
.s-fs-36 {
  font-size: 36px;
}
.s-fs-38 {
  font-size: 38px;
}
.s-fs-40 {
  font-size: 40px;
}
.s-fs-42 {
  font-size: 42px;
}
.s-fs-44 {
  font-size: 44px;
}
.s-fs-46 {
  font-size: 46px;
}
.s-fs-48 {
  font-size: 48px;
}
.s-fs-50 {
  font-size: 50px;
}
.s-fs-56 {
  font-size: 56px;
}
.s-fs-60 {
  font-size: 60px;
}
.s-fs-64 {
  font-size: 64px;
}
.s-fs-70 {
  font-size: 70px;
}
.s-fs-72 {
  font-size: 72px;
}
.s-fs-76 {
  font-size: 76px;
}
.s-fs-80 {
  font-size: 80px;
}
.s-fs-84 {
  font-size: 84px;
}
.s-fs-90 {
  font-size: 90px;
}
.s-fs-96 {
  font-size: 96px;
}
.s-fs-100 {
  font-size: 100px;
}
.s-fs-142 {
  font-size: 142px;
}
.s-fs-150 {
  font-size: 150px;
}
.s-fs-164 {
  font-size: 164px;
}
.g-w-15 {
  width: 15px;
}
.g-w-90 {
  width: 90px;
}
.g-w20 {
  width: 20%;
}
.g-w25 {
  width: 25%;
}
.g-w-90 {
  width: 90px;
}
.g-w-100 {
  width: 100px;
}
.g-w-200 {
  width: 200px;
}
.g-w50 {
  width: 50%;
}
.g-w100 {
  width: 100%;
}
.g-h100 {
  height: 100%;
}
.g-full {
  width: 100%;
  height: 100%;
}
.g-h-30 {
  height: 30px;
}
.g-h-40 {
  height: 40px;
}
.g-h-50 {
  height: 50px;
}
.g-h-54 {
  height: 54px;
}
.g-h-350 {
  height: 350px;
}
.g-h-370 {
  height: 370px;
}
.g-h-400 {
  height: 400px;
}
.s-bg-wt {
  background-color: #fff;
}
.s-bg-grey {
  background-color: #f2f2f6;
}
.s-bd-a {
  border: 1px solid #e3e2e5;
}
.s-br {
  border-radius: 4px;
}
.s-br-5 {
  border-radius: 5px;
}
.s-br-10 {
  border-radius: 10px;
}
.g-sc-auto {
  overflow: auto;
}
.g-pos-rt {
  position: relative;
}
.g-pos-ab {
  position: absolute;
}
.loading-modal {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}
.info-title {
  font-size: 14px;
  font-weight: bold;
  color: #595961;
  padding: 10px 20px;
}
.s-fc-grey {
  color: #9797a1;
}
.s-fc-error {
  color: #ff4040;
}
.s-fc-595961 {
  color: #595961;
}
.s-fc-B2AEBC {
  color: #b2aebc;
}
.s-fc-35323B {
  color: #35323b;
}
input {
  height: 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.ant-btn {
  font-size: 12px;
}
.ant-radio-wrapper span,
.ant-checkbox-wrapper span {
  font-size: 12px;
}
.ant-select-selection-selected-value,
.ant-calendar-picker-input,
.ant-input,
.ant-input-group-addon {
  font-size: 12px;
}
.a-disabled {
  pointer-events: none;
  color: #9797a1 !important;
}
textarea {
  resize: none;
}
.ant-table {
  border: none;
}
.ant-table-wrapper {
  border-radius: 10px;
  border: 1px solid #e3e2e5;
}
.input-error input {
  border-color: #ff4040;
  outline: none;
}
.input-error input:focus,
.input-error input:hover {
  border-color: #ff4040;
  box-shadow: 0px 0px 4px #ff4040;
}
input.input-error {
  border-color: #ff4040;
  outline: none;
}
input.input-error:focus,
input.input-error:hover {
  border-color: #ff4040;
  box-shadow: 0px 0px 4px #ff4040;
}
.ant-menu {
  border-bottom: none;
}
.ant-modal-footer,
.ant-modal-header {
  border-bottom: none !important;
  border-top: none !important;
}
.page-footer {
  background: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(15, 12, 70, 0.1);
  border-radius: 10px 10px 0 0;
}
.page-footer div:first-child {
  border-radius: 10px 10px 0 0;
}
.ant-btn {
  border-radius: 4px;
}
.g-fw-b {
  font-weight: bold;
}
.s-fb {
  font-family: PingFangSC-Medium;
}
.s-fb-m {
  font-family: PingFangSC-Regular;
}
.s-ff-num {
  font-family: DINAlternate-Bold;
}
.s-ff-symbol {
  font-family: PingFangSC-Semibold;
}
.g-bb-d {
  border-bottom: 1px solid #dddddd;
}
.g-bb-e3 {
  border-bottom: 1px solid #e3e2e5;
}
.rotate-90 {
  transform: rotate(90deg);
}
